body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.box-grid{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 40vh 60vh;
    gap: 10px;
    background-color: yellow;
    
}

header{
    background-color: green;
    grid-column: 1/2;
    grid-row: 1/2;
}

.mat-grid{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 40vh 60vh;
    gap: 10px;
    background-color: darkblue;
    height: 50px;
    border-radius: 10px;
    
}


.matbild{
    grid-column: 2/2;
    grid-row: 1/2;   
}

.matbild > img{
    height: 230px;
    margin-left: 19px;
}




main-v{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/2;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 42px;
}

.border > p{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-right: 140px;
}

main-h{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 42px;
}

.border2 > p{
    border-radius: 5px;
    background-color: white; 
    padding: 10px;
    
}

h1{
    color: red;
}