body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #fcece7;
}

.box-grid{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 50vh 110vh;
    gap: 10px;
    
}

header{
    background-color: white;
    grid-column: 1/2;
    grid-row: 1/2;
}

h1{
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    padding-left: 10px;
}

.mat-grid{
    display: grid;
    grid-template-columns: 5fr 5fr;
    grid-template-rows: 40vh 60vh;
    gap: 10px;
    background-color: #33a46a;
    height: 50px;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    margin-right: 200px;
    margin-bottom: 20px;
}


#bilduppe{
    grid-column: 2/2;
    grid-row: 1/2;   
    background-color: white;
    text-align: center;
}

#bilduppe > img{
    height: 292.5px;
    
}

main-v{
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
    grid-row: 2/2;
    padding-left: 10px;
    padding-right: 10px;
}

.border > li{
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    margin-right: 140px;
}

main-h{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
}

.border2 > li{
    border-radius: 5px;
    background-color: white; 
    padding: 10px;
}

#bildnere{
    text-align: center;
    padding-top: 10px;
}

#bildnere > img{
    height: 230px;
}

h1{
    color: red;
}

footer{
    border: 3px solid black;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    grid-column: span 2 ; /*span innebär hela fårn första griden till sista*/
}